In [58]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import os

os.chdir('/Users/Kadibhai/Downloads/COVID-19-master/csse_covid_19_data/csse_covid_19_time_series')

In [59]:
df = pd.read_csv('time_series_covid19_confirmed_global.csv')
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,74,84,94,110,110,120,170,174,237,273
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,123,146,174,186,197,212,223,243,259,277
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,264,302,367,409,454,511,584,716,847,986
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,164,188,224,267,308,334,370,376,390,428
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,3,3,4,4,5,7,7,7,8,8

In [66]:
df = df.groupby('Country/Region')['4/2/20'].sum().sort_values(ascending=False)

In [102]:
df = df[0:20]
df

Country/Region
US                243453
Italy             115242
Spain             112065
Germany            84794
China              82432
France             59929
Iran               50468
United Kingdom     34173
Switzerland        18827
Turkey             18135
Belgium            15348
Netherlands        14788
Canada             11284
Austria            11129
Korea, South        9976
Portugal            9034
Brazil              8044
Israel              6857
Sweden              5568
Norway              5147
Name: 4/2/20, dtype: int64

In [101]:
df.bar()
plt.title('Cases')
plt.xticks(rotation=90)

AttributeError: 'Series' object has no attribute 'bar'